custom_correlation_heatmap.png
FIFA.ipynb
eda powerpoint.pdf
percentage_of_booking.png
count_of _booking.png
More_revenue_hotel.png
output_chart.png
Scatterplot1.png
scatterplot2.png
Requests_By_MS.png
Number_of_stays.png
non-Canceled Booking.png
Most_common_channel.png
Boxplot of ADR by Room Allotmen.png
Average_ADR_hotel.png


